{{>__modalBairro}}
<div class="d-flex align-items-center ps-3 pe-2 py-1 border-bottom">
    <h4 class="">Bairros</h4>
    <div class="d-flex ms-auto">
        <button id="btnAdicionar" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-title="Adiciona um bairro novo"><i class="bi bi-plus"></i></button>
    </div>
</div>
<div class="container">
    <label class="form-labelclass fw-bold" for="dropEstado">Estado</label>
    <select name="dropEstado" class="form-select" id="dropEstado" selecionado="{{estadoSelecionado}}">
        {{#each estados}}
            {{#if estado.selecionado}}
                <option value="{{estado.id}}" selected="true">{{estado.nome}}</option>
            {{else}}
                <option value="{{estado.id}}">{{estado.nome}}</option>
            {{/if}}
        {{/each}}
    </select>
    <label class="form-labelclass fw-bold" for="dropCidade">Cidade</label>
    <select name="dropCidade" class="form-select" id="dropCidade" selecionado="{{cidadeSelecionada}}">
        {{#each cidades}}
            <option value="">Selecione uma cidade</option>
            {{#if cidade.selecionado}}
                <option value="{{cidade.id}}" selected="true">{{cidade.nome}}</option>
            {{else}}
                <option value="{{cidade.id}}">{{cidade.nome}}</option>
            {{/if}}
        {{else}}
            <option value="">Nenhuma cidade encontrada para este estado</option>
        {{/each}}
    </select>
</div>
<div id="pnListagem" class="container overflow-y-scroll">
    {{#each bairros}}
        <div id="bairro-{{bairro.id}}" class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <h6 id="{{bairro.id}}">Nome: <span class="fw-normal mx-1" name="bairro">{{bairro.nome}}</span></h6>
                    <div class="d-flex ms-auto">
                        <button type="button" class="btn btn-sm editar" value="{{bairro.id}}" aria-label="Edita o bairro {{bairro.nome}}" data-bs-placement="left" data-bs-title="Edita o bairro {{bairro.nome}}"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-sm excluir" value="{{bairro.id}}" aria-label="Exclui o bairro {{bairro.nome}}" data-bs-placement="bottom" data-bs-title="Excluir o bairro {{bairro.nome}}"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-around fts-italic">
                <small>Criado em {{bairro.created}}</small>
                <small>Modificado em {{bairro.modified}}</small>
            </div>
        </div>
    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                {{#if cidadeSelecionada}}
                    <h6 class="opacity-75">Nenhum bairro encontrado</h6>
                {{else}}
                    <h6 class="opacity-75">Selecione uma cidade</h6>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="/scripts/bairro.js"></script>