{{>__modalCidade}}
<div class="d-flex align-items-center ps-3 pe-2 py-1 border-bottom">
    <h4 class="">Cidades</h4>
    <div class="d-flex ms-auto">
        <button id="btnAdicionar" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-title="Adiciona uma cidade nova"><i class="bi bi-plus"></i></button>
    </div>
</div>
<div class="container">
    <label class="form-labelclass fw-bold" for="dropEstado">Estado</label>
    <select name="dropEstado" class="form-select" id="dropEstado" selecionado="{{selecionado}}">
        {{#each estados}}
            <option value="{{estado.id}}">{{estado.nome}}</option>
        {{/each}}
    </select>
</div>
<div id="pnListagem" class="container overflow-y-scroll">
    {{#each cidades}}
        <div id="cidade-{{cidade.id}}" class="card mt-4">
            <div class="card-body">
                <div class="d-flex">
                    <h6 id="{{cidade.id}}">Nome: <span class="fw-normal mx-1" name="cidade">{{cidade.nome}}</span></h6>
                    <div class="d-flex ms-auto">
                        <button type="button" class="btn btn-sm editar" value="{{cidade.id}}" aria-label="Edita a cidade {{cidade.nome}}" data-bs-placement="left" data-bs-title="Edita a cidade {{cidade.nome}}"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-sm excluir" value="{{cidade.id}}" aria-label="Exclui a cidade {{cidade.nome}}" data-bs-placement="bottom" data-bs-title="Excluir a cidade {{cidade.nome}}"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
                <p>
                    <small class="fw-bold">Código de área: <span class="fw-normal mx-1" name="codigo">{{cidade.codigoArea}}</span></small>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-around fts-italic">
                <small>Criado em {{cidade.created}}</small>
                <small>Modificado em {{cidade.modified}}</small>
            </div>
        </div>
    {{else}}
        <div class="card mt-4">
            <div class="card-body">
                <h6 class="opacity-75">Nenhuma cidade encontrada para este estado</h6>
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="/scripts/cidade.js"></script>